name: "Build"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-replacer:
    name: Build macroReplacer on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - name: Build macro-replacer
        run: nix build -L
