name: "Build"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-replacer:
    name: Build macroReplacer on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            experimental-features = nix-command flakes pipe-operators
      - name: Build macro-replacer
        run: nix build -L
